body{
    background-color: lightgray;
}
h1{
    color : red;
    font-size: 300%;
    text-align: center;
}
p{
    color:green;
    text-align: right;
    border: 1px solid red;
    padding: 10px;
    margin: 30px;
}